{% extends 'base.html' %}

{% block css %}

<style>
    .container {
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content {
        width: 500px;
        min-height: 200px;
    }
</style>

{% endblock css %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="content card p-4">
                    <h2>Password reset sent</h2>
                    <p>
                        We’ve emailed you instructions for setting your password, if an account exists with the email
                        you
                        entered. You should receive them shortly.
                        If you don’t receive an email, please make sure you’ve entered the address you registered with,
                        and
                        check your spam folder.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}