{% extends 'dashboard.html' %}
{% load static %}

{% block maincontent %}
<div class="container-fluid">
    <div class="card p-4">
        <div class="row">
            <div class="col-md-4">

                {% if request.user.student_profile.profile_img %}
                <img src="{{ request.user.student_profile.profile_img.url }}" alt="Profile Image"
                    style="width: 100%; height: 200px; padding: 20px; object-fit: contain;">
                {% else %}
                <img src="{% static 'images/profile_img.png' %}" alt="Default Profile Image"
                    style="width: 100%; height: 200px; padding: 20px; object-fit: contain;">
                {% endif %}



                <center>
                    <p>Username: {{ request.user.username }}</p>
                    <a href="{% url 'student_update_profile' request.user.id %}" class="btn btn-success ">Update
                        Profile</a>
                </center>

            </div>

            <div class=" col-md-8 mt-4">

                <p> <strong>Fullname: </strong>{{ request.user.first_name }} {{ request.user.last_name }}</p>
                <p> <strong>Bio</strong> <br> {{ request.user.student_profile.bio }}</p>
                <p> <strong>Email: {{ request.user.email }}</strong> </p>
                <p> <strong>Phone: {{ request.user.student_profile.phone_number }}</strong> </p>
            </div>
        </div>
    </div>
</div>

{% endblock maincontent %}