<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ course.title }} - Details</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />


  <!-- rating star -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />


  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <style>
    .checked {
      color: gold;
    }

    .accordion-item {

      width: 100%;
      border-bottom: 2px solid rgba(223, 211, 211, 0.199);
      padding: 20px;
      border-radius: 10px 10px;
      margin-bottom: 10px;
    }

    .accordion-item:hover {
      background-color: whitesmoke;
    }

    .video__title {
      font-size: 1rem;
      font-weight: 800;

    }
  </style>
</head>

<body>

  <!-- nav start  -->
  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Online Learning</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              {{course.course_title}}
            </a>
          </li>

          {% if not request.user.is_teacher %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'enrollment' %}">My Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'student_profile' %}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'student_dashboard' %}">Progress</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Q&N</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <!-- nav ends -->
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-12 col-lg-8">

        <div class="row">
          <div class="col-12">
            <!-- video player -->

            <video id="custom-video" width="100%" controls autoplay>

              {% if video %}
              <source src="{{ video.video_file.url }}" type="video/mp4" />

              {% else %}
              <source src="{{ first_video.video_file.url }}" type="video/mp4" />
              {% endif %}
            </video>
            <!-- video end -->
          </div>
        </div>
        <div class="container-fluid mt-2">
          <div class="row">
            <div class="col-12">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="details-tab" data-bs-toggle="tab" href="#details" role="tab"
                    aria-controls="details" aria-selected="true">Course Details</a>
                </li>
                <li class="nav-item d-block d-lg-none" role="presentation">
                  <a class="nav-link" id="course_content-tab" data-bs-toggle="tab" href="#course_content" role="tab"
                    aria-controls="course_content" aria-selected="false">Course Content</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="pdf-tab" data-bs-toggle="tab" href="#pdf" role="tab" aria-controls="pdf"
                    aria-selected="false">PDF</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="qna-tab" data-bs-toggle="tab" href="#qna" role="tab" aria-controls="qna"
                    aria-selected="false">Q&N</a>
                </li>
              </ul>

              <div class="tab-content mt-3" id="myTabContent">
                <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
                  <!-- Course details content here -->
                  <h4 class="mt-3">{{ course.course_title }}</h4>
                  <p class="mt-2">{{ course.course_desc }}</p>

                </div>
                <div class="tab-pane fade" id="course_content" role="tabpanel" aria-labelledby="course_content-tab">
                  <!-- Course content here -->
                  <div class="accordion" id="accordionExample">
                    {% for video in related_videos %}
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading{{ video.id }}">
                        <button class="accordion-button collapsed video__title" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapse{{ video.id }}" aria-expanded="false"
                          aria-controls="collapse{{ video.id }}">
                          {{ video.title }}
                        </button>
                      </h2>
                      <div id="collapse{{ video.id }}" class="accordion-collapse collapse"
                        aria-labelledby="heading{{ video.id }}" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, iusto nostrum maiores
                            ullam
                            eveniet illum tempora magnam est inventore quasi ad consequatur ab vitae, quod itaque qui
                            eligendi.
                            Pariatur, quod.
                          </p>
                          <a style="text-decoration: none; padding: 5px 10px; border: 1px solid black; border-radius: 5px;"
                            href="{% url 'watch_video' video.id %}" class="">Watch</a>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                <div class="tab-pane fade" id="pdf" role="tabpanel" aria-labelledby="pdf-tab">
                  <!-- PDF content here -->
                  <div class="accordion" id="accordionExample">
                    {% for pdf in pdf %}
                    <div class="accordion-item mt-2">
                      <h2 class="accordion-header" id="headingPdf{{ pdf.id }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapsePdf{{ pdf.id }}" aria-expanded="false"
                          aria-controls="collapsePdf{{ pdf.id }}">
                          {{ pdf.title }}
                        </button>
                      </h2>
                      <div id="collapsePdf{{ pdf.id }}" class="accordion-collapse collapse"
                        aria-labelledby="headingPdf{{ pdf.id }}" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <p> {{ pdf.pdf_des }}</p>

                          <a href="{% url 'download_pdf' pdf.id %}" class="btn btn-primary mt-2">Download Pdf</a>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                <div class="tab-pane fade" id="qna" role="tabpanel" aria-labelledby="qna-tab">
                  <!-- Q&N content here -->
                  <form action="" method="POST">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="Ask Question here"
                        aria-label="Recipient's username" aria-describedby="button-addon2">
                      <button class="btn btn-primary" type="button" id="button-addon2">Ask</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- only visiual on col-lg-block  -->
      <!-- course related video  -->
      <div class="col-12 col-lg-4 d-none d-lg-block">
        {% for video in related_videos %}
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed video__title" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapse{{ video.id }}" aria-expanded="false" aria-controls="collapse{{ video.id }}">
              {{ video.title }}
            </button>
          </h2>
          <div id="collapse{{ video.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, iusto nostrum maiores ullam eveniet
                illum tempora magnam est inventore quasi ad consequatur ab vitae, quod itaque qui eligendi. Pariatur,
                quod.</p>
              <a style="text-decoration: none; padding: 5px 10px; border: 1px solid black; border-radius: 5px;"
                href="{% url 'watch_video' video.id %}" class="">Watch</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- course related video end   -->
    </div>

  </div>

  <!-- Bootstrap 5.3 JS (including Popper.js) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>